<h1>Passwort-Eingabe</h1>

<!-- Rounded Box -->
<%= start_roundedBox(240) %>

<%= form_for(:event, :url => {:action => :show}, :html => {:id=>"pw_check"}) do |f| %>

    <%= label(:password, "Passwort*") %>
    <%= password_field :event, :password, :value => '' %>

    <%= cust_submit("pw_check", "weiter") %>
<% end %>

<%= end_roundedBox(240) %>