<h1>Neue Aufgabe erstellen</h1>

<!-- Rounded Box -->
<%= start_roundedBox(240) %>

<%= form_for :item, :url => {:action => :create}, :html => {:id => "new_item"} do |f| %>

  <%= hidden_field(:event, :id) %>

  <label for="item_name">Name*</label>
  <%= f.text_field :name %>
  <%= select("item", "count", {'x 1'=>1, 'x 2'=>2, 'x 3'=>3, 'x 4'=>4, 'x 5'=>5}) %>
  <%= cust_submit("new_item", "speichern") %>

<% end %>
<%= end_roundedBox(240) %>

<p>
  *Geben Sie hier die Bezeichnung der Aufgabe ein, die zu erledigen ist.<br />
  Z.B.: Kartoffeln mitbrigen, Aspirin kaufen, Gliederung schreiben, ...
</p>

<p><%= link_to "Zurück", {:controller => :events, :action => :show, :id => @event.key} %></p>